<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capgov.coppetec.com.br.dia1seminario" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controller.BemVindosActivity"
            android:label="@string/title_activity_bem_vindos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.Desafio1Activity"
            android:label="@string/title_activity_desafio1" >
        </activity>
        <activity
            android:name=".controller.Desafio2Activity"
            android:label="@string/title_activity_desafio2" >
        </activity>
        <activity
            android:name=".controller.Desafio3Activity"
            android:label="@string/title_activity_desafio3" >
        </activity>
        <activity
            android:name=".controller.Desafio4Activity"
            android:label="@string/title_activity_desafio4" >
        </activity>
        <activity
            android:name=".controller.Desafio5Activity"
            android:label="@string/title_activity_desafio5" >
        </activity>
        <activity
            android:name=".controller.CronometroActivity"
            android:label="@string/title_activity_cronomentro" >
        </activity>
        <!-- <activity -->
        <!-- android:name=".BemVindosActivity" -->
        <!-- android:label="@string/title_activity_bem_vindos" > -->
        <!-- </activity> -->

        <activity
            android:name=".controller.Desafio6Activity"
            android:label="@string/title_activity_desafio6" >
        </activity>
        <activity
            android:name=".controller.Desafio6Activity2"
            android:label="@string/title_activity_desafio6_activity2" >
        </activity>
        <activity
            android:name=".controller.Desafio7Activity"
            android:label="@string/title_activity_desafio7" >
        </activity>
        <activity
            android:name=".controller.Desafio7Activity2"
            android:label="@string/title_activity_desafio7_activity2" >
        </activity>
        <activity
            android:name=".controller.Desafio8CadastroActivity"
            android:label="@string/title_activity_desafio8_cadastrar" >
        </activity>
        <activity
            android:name=".controller.Desafio8LoginActivity"
            android:label="@string/title_activity_desafio8_Login" >
        </activity>
        <activity
            android:name=".controller.Desafio8ExibirActivity"
            android:label="@string/title_activity_desafio8_exibir" >
        </activity>
        <activity
            android:name=".controller.Desafio8AlterarActivity"
            android:label="@string/title_activity_desafio8_alterar" >
        </activity>
        <activity
            android:name=".controller.Desafio9Activity"
            android:label="@string/title_activity_desafio9" >
        </activity>
    </application>

</manifest>
